.main{
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.scroll-container{
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.portfolio-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.gridRow{
  margin-bottom: -3.75rem;
  display: flex;
}

.even-row{
  /* background: blue; */
  transform: translate(7.5rem);
  /* transform: translateY(-12.5rem); */
}