.card--text-card{
    outline: var(--text-color);
    border: var(--border-width--text-card) solid var(--border-color--text-card);
    border-left: 0;
    border-right: 0;
    /* border-bottom: 2px solid var(--border-color--text-card); */
    background-color: var(--bg-color);
    position: relative;
    padding: 1rem;
    /* box-shadow: 0px 0px 10px 7px var(--border-color--text-card); */
                /* 0px 0px 10px 7px var(--border-color--text-card); */
    /* box-shadow: 0px 0px 10px 7px var(--border-color--text-card); */
    /* border-radius: 0 10px 0; */
}

.card--text-card:before{
    content: "";
    position: absolute;
    background-color: transparent;
    height: 1.5rem;
    width: max(25%, 2rem);
    top: 0;
    /* top: calc(-1.5rem - var(--border-width--text-card)); */
    left: calc(-1 * var(--border-width--text-card) + var(--border-width--text-card));
    border-top: .75rem solid var(--border-color--text-card);
    /* border-bottom: .75rem solid var(--border-color--text-card); */
    border-left: .75rem solid transparent;
    border-right: .75rem solid transparent;
}

.card--text-card:after{
    content: "";
    position: absolute;
    background-color: transparent;
    height: 1.5rem;
    width: max(25%, 2rem);
    /* bottom: calc(-1.5rem - var(--border-width--text-card)); */
    bottom: 0;
    right: calc(-1 * var(--border-width--text-card) + var(--border-width--text-card));
    /* border-top: .75rem solid var(--border-color--text-card); */
    border-bottom: .75rem solid var(--border-color--text-card);
    border-left: .75rem solid transparent;
    border-right: .75rem solid transparent;
}

.card--text-card p{
    margin: 0;
    padding: 1rem 0
}